Parkplatz-Desktop/xml-resources/web-service-references/ParkPlatzWS/wsdl/localhost/ParkPlatz-Web-Maven/ParkPlatzWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.controller.web.parkplatz.ovrwrite.me/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.controller.web.parkplatz.ovrwrite.me/" name="ParkPlatzWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.controller.web.parkplatz.ovrwrite.me/" schemaLocation="http://localhost:80/ParkPlatz-Web-Maven/ParkPlatzWS?xsd=1"/>
</xsd:schema>
</types>
<message name="operacion_Detalles_Estacionamiento">
<part name="parameters" element="tns:operacion_Detalles_Estacionamiento"/>
</message>
<message name="operacion_Detalles_EstacionamientoResponse">
<part name="parameters" element="tns:operacion_Detalles_EstacionamientoResponse"/>
</message>
<message name="loginEstacionamiento">
<part name="parameters" element="tns:loginEstacionamiento"/>
</message>
<message name="loginEstacionamientoResponse">
<part name="parameters" element="tns:loginEstacionamientoResponse"/>
</message>
<message name="UnsupportedEncodingException">
<part name="fault" element="tns:UnsupportedEncodingException"/>
</message>
<message name="NoSuchAlgorithmException">
<part name="fault" element="tns:NoSuchAlgorithmException"/>
</message>
<message name="recibeFoto">
<part name="parameters" element="tns:recibeFoto"/>
</message>
<message name="recibeFotoResponse">
<part name="parameters" element="tns:recibeFotoResponse"/>
</message>
<message name="ClassNotFoundException">
<part name="fault" element="tns:ClassNotFoundException"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="registraUnEstacionamiento">
<part name="parameters" element="tns:registraUnEstacionamiento"/>
</message>
<message name="registraUnEstacionamientoResponse">
<part name="parameters" element="tns:registraUnEstacionamientoResponse"/>
</message>
<message name="actualizarDatosConductor">
<part name="parameters" element="tns:actualizarDatosConductor"/>
</message>
<message name="actualizarDatosConductorResponse">
<part name="parameters" element="tns:actualizarDatosConductorResponse"/>
</message>
<message name="actualizarDatosAdmin">
<part name="parameters" element="tns:actualizarDatosAdmin"/>
</message>
<message name="actualizarDatosAdminResponse">
<part name="parameters" element="tns:actualizarDatosAdminResponse"/>
</message>
<message name="recuperarDatosEsta">
<part name="parameters" element="tns:recuperarDatosEsta"/>
</message>
<message name="recuperarDatosEstaResponse">
<part name="parameters" element="tns:recuperarDatosEstaResponse"/>
</message>
<message name="traeIdEstacionamiento">
<part name="parameters" element="tns:traeIdEstacionamiento"/>
</message>
<message name="traeIdEstacionamientoResponse">
<part name="parameters" element="tns:traeIdEstacionamientoResponse"/>
</message>
<message name="obtenerMisEstacionamientos">
<part name="parameters" element="tns:obtenerMisEstacionamientos"/>
</message>
<message name="obtenerMisEstacionamientosResponse">
<part name="parameters" element="tns:obtenerMisEstacionamientosResponse"/>
</message>
<message name="registrarConductor">
<part name="parameters" element="tns:registrarConductor"/>
</message>
<message name="registrarConductorResponse">
<part name="parameters" element="tns:registrarConductorResponse"/>
</message>
<message name="registrarAdministrador">
<part name="parameters" element="tns:registrarAdministrador"/>
</message>
<message name="registrarAdministradorResponse">
<part name="parameters" element="tns:registrarAdministradorResponse"/>
</message>
<message name="loginAdministrador">
<part name="parameters" element="tns:loginAdministrador"/>
</message>
<message name="loginAdministradorResponse">
<part name="parameters" element="tns:loginAdministradorResponse"/>
</message>
<message name="nuevoServicioOferta">
<part name="parameters" element="tns:nuevoServicioOferta"/>
</message>
<message name="nuevoServicioOfertaResponse">
<part name="parameters" element="tns:nuevoServicioOfertaResponse"/>
</message>
<message name="actualizarDatosEsta">
<part name="parameters" element="tns:actualizarDatosEsta"/>
</message>
<message name="actualizarDatosEstaResponse">
<part name="parameters" element="tns:actualizarDatosEstaResponse"/>
</message>
<message name="logoutAdministrador">
<part name="parameters" element="tns:logoutAdministrador"/>
</message>
<message name="logoutAdministradorResponse">
<part name="parameters" element="tns:logoutAdministradorResponse"/>
</message>
<message name="actualizarServicio">
<part name="parameters" element="tns:actualizarServicio"/>
</message>
<message name="actualizarServicioResponse">
<part name="parameters" element="tns:actualizarServicioResponse"/>
</message>
<message name="registrarEstacionamiento">
<part name="parameters" element="tns:registrarEstacionamiento"/>
</message>
<message name="registrarEstacionamientoResponse">
<part name="parameters" element="tns:registrarEstacionamientoResponse"/>
</message>
<message name="logoutEstacionamiento">
<part name="parameters" element="tns:logoutEstacionamiento"/>
</message>
<message name="logoutEstacionamientoResponse">
<part name="parameters" element="tns:logoutEstacionamientoResponse"/>
</message>
<message name="operacion_Borra_Fav">
<part name="parameters" element="tns:operacion_Borra_Fav"/>
</message>
<message name="operacion_Borra_FavResponse">
<part name="parameters" element="tns:operacion_Borra_FavResponse"/>
</message>
<message name="operacion_getAmigos">
<part name="parameters" element="tns:operacion_getAmigos"/>
</message>
<message name="operacion_getAmigosResponse">
<part name="parameters" element="tns:operacion_getAmigosResponse"/>
</message>
<message name="operacion_Nuevo_Favorito">
<part name="parameters" element="tns:operacion_Nuevo_Favorito"/>
</message>
<message name="operacion_Nuevo_FavoritoResponse">
<part name="parameters" element="tns:operacion_Nuevo_FavoritoResponse"/>
</message>
<message name="operacion_Recuperar_Datos">
<part name="parameters" element="tns:operacion_Recuperar_Datos"/>
</message>
<message name="operacion_Recuperar_DatosResponse">
<part name="parameters" element="tns:operacion_Recuperar_DatosResponse"/>
</message>
<message name="operacion_NewComen">
<part name="parameters" element="tns:operacion_NewComen"/>
</message>
<message name="operacion_NewComenResponse">
<part name="parameters" element="tns:operacion_NewComenResponse"/>
</message>
<message name="operacion_Lugares">
<part name="parameters" element="tns:operacion_Lugares"/>
</message>
<message name="operacion_LugaresResponse">
<part name="parameters" element="tns:operacion_LugaresResponse"/>
</message>
<message name="operacion_Actualiza_Datos">
<part name="parameters" element="tns:operacion_Actualiza_Datos"/>
</message>
<message name="operacion_Actualiza_DatosResponse">
<part name="parameters" element="tns:operacion_Actualiza_DatosResponse"/>
</message>
<message name="operacion_Nuevo_Reciente">
<part name="parameters" element="tns:operacion_Nuevo_Reciente"/>
</message>
<message name="operacion_Nuevo_RecienteResponse">
<part name="parameters" element="tns:operacion_Nuevo_RecienteResponse"/>
</message>
<message name="operacion_Login_Android">
<part name="parameters" element="tns:operacion_Login_Android"/>
</message>
<message name="operacion_Login_AndroidResponse">
<part name="parameters" element="tns:operacion_Login_AndroidResponse"/>
</message>
<message name="operacion_Registro_Android">
<part name="parameters" element="tns:operacion_Registro_Android"/>
</message>
<message name="operacion_Registro_AndroidResponse">
<part name="parameters" element="tns:operacion_Registro_AndroidResponse"/>
</message>
<message name="operacion_Mi_Mapa">
<part name="parameters" element="tns:operacion_Mi_Mapa"/>
</message>
<message name="operacion_Mi_MapaResponse">
<part name="parameters" element="tns:operacion_Mi_MapaResponse"/>
</message>
<message name="operacion_newAmigo">
<part name="parameters" element="tns:operacion_newAmigo"/>
</message>
<message name="operacion_newAmigoResponse">
<part name="parameters" element="tns:operacion_newAmigoResponse"/>
</message>
<message name="operacion_Mis_Recs">
<part name="parameters" element="tns:operacion_Mis_Recs"/>
</message>
<message name="operacion_Mis_RecsResponse">
<part name="parameters" element="tns:operacion_Mis_RecsResponse"/>
</message>
<message name="operacion_Mis_Favs">
<part name="parameters" element="tns:operacion_Mis_Favs"/>
</message>
<message name="operacion_Mis_FavsResponse">
<part name="parameters" element="tns:operacion_Mis_FavsResponse"/>
</message>
<message name="operacion_busAmigos">
<part name="parameters" element="tns:operacion_busAmigos"/>
</message>
<message name="operacion_busAmigosResponse">
<part name="parameters" element="tns:operacion_busAmigosResponse"/>
</message>
<message name="recover">
<part name="parameters" element="tns:recover"/>
</message>
<message name="recoverResponse">
<part name="parameters" element="tns:recoverResponse"/>
</message>
<message name="borrameEsta">
<part name="parameters" element="tns:borrameEsta"/>
</message>
<message name="borrameEstaResponse">
<part name="parameters" element="tns:borrameEstaResponse"/>
</message>
<message name="get_misRecientes">
<part name="parameters" element="tns:get_misRecientes"/>
</message>
<message name="get_misRecientesResponse">
<part name="parameters" element="tns:get_misRecientesResponse"/>
</message>
<message name="obtenerSevicios">
<part name="parameters" element="tns:obtenerSevicios"/>
</message>
<message name="obtenerSeviciosResponse">
<part name="parameters" element="tns:obtenerSeviciosResponse"/>
</message>
<message name="toSHA256">
<part name="parameters" element="tns:toSHA256"/>
</message>
<message name="toSHA256Response">
<part name="parameters" element="tns:toSHA256Response"/>
</message>
<message name="get_feedback">
<part name="parameters" element="tns:get_feedback"/>
</message>
<message name="get_feedbackResponse">
<part name="parameters" element="tns:get_feedbackResponse"/>
</message>
<message name="eliminarServ">
<part name="parameters" element="tns:eliminarServ"/>
</message>
<message name="eliminarServResponse">
<part name="parameters" element="tns:eliminarServResponse"/>
</message>
<message name="enviarFeed_dos">
<part name="parameters" element="tns:enviarFeed_dos"/>
</message>
<message name="enviarFeed_dosResponse">
<part name="parameters" element="tns:enviarFeed_dosResponse"/>
</message>
<message name="get_misFavs">
<part name="parameters" element="tns:get_misFavs"/>
</message>
<message name="get_misFavsResponse">
<part name="parameters" element="tns:get_misFavsResponse"/>
</message>
<message name="logoutConductor">
<part name="parameters" element="tns:logoutConductor"/>
</message>
<message name="logoutConductorResponse">
<part name="parameters" element="tns:logoutConductorResponse"/>
</message>
<message name="enviarFeed">
<part name="parameters" element="tns:enviarFeed"/>
</message>
<message name="enviarFeedResponse">
<part name="parameters" element="tns:enviarFeedResponse"/>
</message>
<message name="actualizarDatos">
<part name="parameters" element="tns:actualizarDatos"/>
</message>
<message name="actualizarDatosResponse">
<part name="parameters" element="tns:actualizarDatosResponse"/>
</message>
<message name="loginConductor">
<part name="parameters" element="tns:loginConductor"/>
</message>
<message name="loginConductorResponse">
<part name="parameters" element="tns:loginConductorResponse"/>
</message>
<message name="recuperaEsta">
<part name="parameters" element="tns:recuperaEsta"/>
</message>
<message name="recuperaEstaResponse">
<part name="parameters" element="tns:recuperaEstaResponse"/>
</message>
<message name="operacion_Is_Fav">
<part name="parameters" element="tns:operacion_Is_Fav"/>
</message>
<message name="operacion_Is_FavResponse">
<part name="parameters" element="tns:operacion_Is_FavResponse"/>
</message>
<message name="operacion_buscar">
<part name="parameters" element="tns:operacion_buscar"/>
</message>
<message name="operacion_buscarResponse">
<part name="parameters" element="tns:operacion_buscarResponse"/>
</message>
<message name="delEsquema">
<part name="parameters" element="tns:delEsquema"/>
</message>
<message name="delEsquemaResponse">
<part name="parameters" element="tns:delEsquemaResponse"/>
</message>
<message name="traeSuppLogs">
<part name="parameters" element="tns:traeSuppLogs"/>
</message>
<message name="traeSuppLogsResponse">
<part name="parameters" element="tns:traeSuppLogsResponse"/>
</message>
<message name="operacion_Feed">
<part name="parameters" element="tns:operacion_Feed"/>
</message>
<message name="operacion_FeedResponse">
<part name="parameters" element="tns:operacion_FeedResponse"/>
</message>
<message name="saveEsquema">
<part name="parameters" element="tns:saveEsquema"/>
</message>
<message name="saveEsquemaResponse">
<part name="parameters" element="tns:saveEsquemaResponse"/>
</message>
<message name="delUser">
<part name="parameters" element="tns:delUser"/>
</message>
<message name="delUserResponse">
<part name="parameters" element="tns:delUserResponse"/>
</message>
<message name="guardaSuppLogs">
<part name="parameters" element="tns:guardaSuppLogs"/>
</message>
<message name="guardaSuppLogsResponse">
<part name="parameters" element="tns:guardaSuppLogsResponse"/>
</message>
<message name="operacion_Muro">
<part name="parameters" element="tns:operacion_Muro"/>
</message>
<message name="operacion_MuroResponse">
<part name="parameters" element="tns:operacion_MuroResponse"/>
</message>
<message name="getEsquema">
<part name="parameters" element="tns:getEsquema"/>
</message>
<message name="getEsquemaResponse">
<part name="parameters" element="tns:getEsquemaResponse"/>
</message>
<message name="enviarAviso">
<part name="parameters" element="tns:enviarAviso"/>
</message>
<message name="enviarAvisoResponse">
<part name="parameters" element="tns:enviarAvisoResponse"/>
</message>
<message name="avisos">
<part name="parameters" element="tns:avisos"/>
</message>
<message name="avisosResponse">
<part name="parameters" element="tns:avisosResponse"/>
</message>
<portType name="ParkPlatzWS">
<operation name="operacion_Detalles_Estacionamiento">
<input wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/operacion_Detalles_EstacionamientoRequest" message="tns:operacion_Detalles_Estacionamiento"/>
<output wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/operacion_Detalles_EstacionamientoResponse" message="tns:operacion_Detalles_EstacionamientoResponse"/>
</operation>
<operation name="loginEstacionamiento">
<input wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/loginEstacionamientoRequest" message="tns:loginEstacionamiento"/>
<output wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/loginEstacionamientoResponse" message="tns:loginEstacionamientoResponse"/>
<fault message="tns:UnsupportedEncodingException" name="UnsupportedEncodingException" wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/loginEstacionamiento/Fault/UnsupportedEncodingException"/>
<fault message="tns:NoSuchAlgorithmException" name="NoSuchAlgorithmException" wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/loginEstacionamiento/Fault/NoSuchAlgorithmException"/>
</operation>
<operation name="recibeFoto">
<input wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/recibeFotoRequest" message="tns:recibeFoto"/>
<output wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/recibeFotoResponse" message="tns:recibeFotoResponse"/>
<fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/recibeFoto/Fault/ClassNotFoundException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/recibeFoto/Fault/IOException"/>
</operation>
<operation name="registraUnEstacionamiento">
<input wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/registraUnEstacionamientoRequest" message="tns:registraUnEstacionamiento"/>
<output wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/registraUnEstacionamientoResponse" message="tns:registraUnEstacionamientoResponse"/>
<fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/registraUnEstacionamiento/Fault/ClassNotFoundException"/>
</operation>
<operation name="actualizarDatosConductor">
<input wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/actualizarDatosConductorRequest" message="tns:actualizarDatosConductor"/>
<output wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/actualizarDatosConductorResponse" message="tns:actualizarDatosConductorResponse"/>
<fault message="tns:UnsupportedEncodingException" name="UnsupportedEncodingException" wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/actualizarDatosConductor/Fault/UnsupportedEncodingException"/>
<fault message="tns:NoSuchAlgorithmException" name="NoSuchAlgorithmException" wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/actualizarDatosConductor/Fault/NoSuchAlgorithmException"/>
</operation>
<operation name="actualizarDatosAdmin">
<input wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/actualizarDatosAdminRequest" message="tns:actualizarDatosAdmin"/>
<output wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/actualizarDatosAdminResponse" message="tns:actualizarDatosAdminResponse"/>
<fault message="tns:UnsupportedEncodingException" name="UnsupportedEncodingException" wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/actualizarDatosAdmin/Fault/UnsupportedEncodingException"/>
<fault message="tns:NoSuchAlgorithmException" name="NoSuchAlgorithmException" wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/actualizarDatosAdmin/Fault/NoSuchAlgorithmException"/>
</operation>
<operation name="recuperarDatosEsta">
<input wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/recuperarDatosEstaRequest" message="tns:recuperarDatosEsta"/>
<output wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/recuperarDatosEstaResponse" message="tns:recuperarDatosEstaResponse"/>
</operation>
<operation name="traeIdEstacionamiento">
<input wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/traeIdEstacionamientoRequest" message="tns:traeIdEstacionamiento"/>
<output wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/traeIdEstacionamientoResponse" message="tns:traeIdEstacionamientoResponse"/>
</operation>
<operation name="obtenerMisEstacionamientos">
<input wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/obtenerMisEstacionamientosRequest" message="tns:obtenerMisEstacionamientos"/>
<output wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/obtenerMisEstacionamientosResponse" message="tns:obtenerMisEstacionamientosResponse"/>
<fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/obtenerMisEstacionamientos/Fault/ClassNotFoundException"/>
</operation>
<operation name="registrarConductor">
<input wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/registrarConductorRequest" message="tns:registrarConductor"/>
<output wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/registrarConductorResponse" message="tns:registrarConductorResponse"/>
<fault message="tns:UnsupportedEncodingException" name="UnsupportedEncodingException" wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/registrarConductor/Fault/UnsupportedEncodingException"/>
<fault message="tns:NoSuchAlgorithmException" name="NoSuchAlgorithmException" wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/registrarConductor/Fault/NoSuchAlgorithmException"/>
</operation>
<operation name="registrarAdministrador">
<input wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/registrarAdministradorRequest" message="tns:registrarAdministrador"/>
<output wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/registrarAdministradorResponse" message="tns:registrarAdministradorResponse"/>
<fault message="tns:UnsupportedEncodingException" name="UnsupportedEncodingException" wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/registrarAdministrador/Fault/UnsupportedEncodingException"/>
<fault message="tns:NoSuchAlgorithmException" name="NoSuchAlgorithmException" wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/registrarAdministrador/Fault/NoSuchAlgorithmException"/>
</operation>
<operation name="loginAdministrador">
<input wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/loginAdministradorRequest" message="tns:loginAdministrador"/>
<output wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/loginAdministradorResponse" message="tns:loginAdministradorResponse"/>
<fault message="tns:UnsupportedEncodingException" name="UnsupportedEncodingException" wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/loginAdministrador/Fault/UnsupportedEncodingException"/>
<fault message="tns:NoSuchAlgorithmException" name="NoSuchAlgorithmException" wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/loginAdministrador/Fault/NoSuchAlgorithmException"/>
</operation>
<operation name="nuevoServicioOferta">
<input wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/nuevoServicioOfertaRequest" message="tns:nuevoServicioOferta"/>
<output wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/nuevoServicioOfertaResponse" message="tns:nuevoServicioOfertaResponse"/>
<fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/nuevoServicioOferta/Fault/ClassNotFoundException"/>
</operation>
<operation name="actualizarDatosEsta">
<input wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/actualizarDatosEstaRequest" message="tns:actualizarDatosEsta"/>
<output wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/actualizarDatosEstaResponse" message="tns:actualizarDatosEstaResponse"/>
</operation>
<operation name="logoutAdministrador">
<input wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/logoutAdministradorRequest" message="tns:logoutAdministrador"/>
<output wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/logoutAdministradorResponse" message="tns:logoutAdministradorResponse"/>
</operation>
<operation name="actualizarServicio">
<input wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/actualizarServicioRequest" message="tns:actualizarServicio"/>
<output wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/actualizarServicioResponse" message="tns:actualizarServicioResponse"/>
</operation>
<operation name="registrarEstacionamiento">
<input wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/registrarEstacionamientoRequest" message="tns:registrarEstacionamiento"/>
<output wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/registrarEstacionamientoResponse" message="tns:registrarEstacionamientoResponse"/>
<fault message="tns:UnsupportedEncodingException" name="UnsupportedEncodingException" wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/registrarEstacionamiento/Fault/UnsupportedEncodingException"/>
<fault message="tns:NoSuchAlgorithmException" name="NoSuchAlgorithmException" wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/registrarEstacionamiento/Fault/NoSuchAlgorithmException"/>
</operation>
<operation name="logoutEstacionamiento">
<input wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/logoutEstacionamientoRequest" message="tns:logoutEstacionamiento"/>
<output wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/logoutEstacionamientoResponse" message="tns:logoutEstacionamientoResponse"/>
</operation>
<operation name="operacion_Borra_Fav">
<input wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/operacion_Borra_FavRequest" message="tns:operacion_Borra_Fav"/>
<output wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/operacion_Borra_FavResponse" message="tns:operacion_Borra_FavResponse"/>
<fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/operacion_Borra_Fav/Fault/ClassNotFoundException"/>
</operation>
<operation name="operacion_getAmigos">
<input wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/operacion_getAmigosRequest" message="tns:operacion_getAmigos"/>
<output wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/operacion_getAmigosResponse" message="tns:operacion_getAmigosResponse"/>
</operation>
<operation name="operacion_Nuevo_Favorito">
<input wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/operacion_Nuevo_FavoritoRequest" message="tns:operacion_Nuevo_Favorito"/>
<output wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/operacion_Nuevo_FavoritoResponse" message="tns:operacion_Nuevo_FavoritoResponse"/>
<fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/operacion_Nuevo_Favorito/Fault/ClassNotFoundException"/>
</operation>
<operation name="operacion_Recuperar_Datos">
<input wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/operacion_Recuperar_DatosRequest" message="tns:operacion_Recuperar_Datos"/>
<output wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/operacion_Recuperar_DatosResponse" message="tns:operacion_Recuperar_DatosResponse"/>
</operation>
<operation name="operacion_NewComen">
<input wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/operacion_NewComenRequest" message="tns:operacion_NewComen"/>
<output wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/operacion_NewComenResponse" message="tns:operacion_NewComenResponse"/>
</operation>
<operation name="operacion_Lugares">
<input wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/operacion_LugaresRequest" message="tns:operacion_Lugares"/>
<output wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/operacion_LugaresResponse" message="tns:operacion_LugaresResponse"/>
<fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/operacion_Lugares/Fault/ClassNotFoundException"/>
</operation>
<operation name="operacion_Actualiza_Datos">
<input wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/operacion_Actualiza_DatosRequest" message="tns:operacion_Actualiza_Datos"/>
<output wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/operacion_Actualiza_DatosResponse" message="tns:operacion_Actualiza_DatosResponse"/>
<fault message="tns:UnsupportedEncodingException" name="UnsupportedEncodingException" wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/operacion_Actualiza_Datos/Fault/UnsupportedEncodingException"/>
<fault message="tns:NoSuchAlgorithmException" name="NoSuchAlgorithmException" wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/operacion_Actualiza_Datos/Fault/NoSuchAlgorithmException"/>
</operation>
<operation name="operacion_Nuevo_Reciente">
<input wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/operacion_Nuevo_RecienteRequest" message="tns:operacion_Nuevo_Reciente"/>
<output wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/operacion_Nuevo_RecienteResponse" message="tns:operacion_Nuevo_RecienteResponse"/>
<fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/operacion_Nuevo_Reciente/Fault/ClassNotFoundException"/>
</operation>
<operation name="operacion_Login_Android">
<input wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/operacion_Login_AndroidRequest" message="tns:operacion_Login_Android"/>
<output wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/operacion_Login_AndroidResponse" message="tns:operacion_Login_AndroidResponse"/>
<fault message="tns:UnsupportedEncodingException" name="UnsupportedEncodingException" wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/operacion_Login_Android/Fault/UnsupportedEncodingException"/>
<fault message="tns:NoSuchAlgorithmException" name="NoSuchAlgorithmException" wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/operacion_Login_Android/Fault/NoSuchAlgorithmException"/>
</operation>
<operation name="operacion_Registro_Android">
<input wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/operacion_Registro_AndroidRequest" message="tns:operacion_Registro_Android"/>
<output wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/operacion_Registro_AndroidResponse" message="tns:operacion_Registro_AndroidResponse"/>
<fault message="tns:UnsupportedEncodingException" name="UnsupportedEncodingException" wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/operacion_Registro_Android/Fault/UnsupportedEncodingException"/>
<fault message="tns:NoSuchAlgorithmException" name="NoSuchAlgorithmException" wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/operacion_Registro_Android/Fault/NoSuchAlgorithmException"/>
</operation>
<operation name="operacion_Mi_Mapa">
<input wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/operacion_Mi_MapaRequest" message="tns:operacion_Mi_Mapa"/>
<output wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/operacion_Mi_MapaResponse" message="tns:operacion_Mi_MapaResponse"/>
</operation>
<operation name="operacion_newAmigo">
<input wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/operacion_newAmigoRequest" message="tns:operacion_newAmigo"/>
<output wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/operacion_newAmigoResponse" message="tns:operacion_newAmigoResponse"/>
</operation>
<operation name="operacion_Mis_Recs">
<input wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/operacion_Mis_RecsRequest" message="tns:operacion_Mis_Recs"/>
<output wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/operacion_Mis_RecsResponse" message="tns:operacion_Mis_RecsResponse"/>
<fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/operacion_Mis_Recs/Fault/ClassNotFoundException"/>
</operation>
<operation name="operacion_Mis_Favs">
<input wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/operacion_Mis_FavsRequest" message="tns:operacion_Mis_Favs"/>
<output wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/operacion_Mis_FavsResponse" message="tns:operacion_Mis_FavsResponse"/>
<fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/operacion_Mis_Favs/Fault/ClassNotFoundException"/>
</operation>
<operation name="operacion_busAmigos">
<input wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/operacion_busAmigosRequest" message="tns:operacion_busAmigos"/>
<output wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/operacion_busAmigosResponse" message="tns:operacion_busAmigosResponse"/>
</operation>
<operation name="recover">
<input wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/recoverRequest" message="tns:recover"/>
<output wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/recoverResponse" message="tns:recoverResponse"/>
</operation>
<operation name="borrameEsta">
<input wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/borrameEstaRequest" message="tns:borrameEsta"/>
<output wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/borrameEstaResponse" message="tns:borrameEstaResponse"/>
<fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/borrameEsta/Fault/ClassNotFoundException"/>
</operation>
<operation name="get_misRecientes">
<input wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/get_misRecientesRequest" message="tns:get_misRecientes"/>
<output wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/get_misRecientesResponse" message="tns:get_misRecientesResponse"/>
<fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/get_misRecientes/Fault/ClassNotFoundException"/>
</operation>
<operation name="obtenerSevicios">
<input wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/obtenerSeviciosRequest" message="tns:obtenerSevicios"/>
<output wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/obtenerSeviciosResponse" message="tns:obtenerSeviciosResponse"/>
</operation>
<operation name="toSHA256">
<input wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/toSHA256Request" message="tns:toSHA256"/>
<output wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/toSHA256Response" message="tns:toSHA256Response"/>
<fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/toSHA256/Fault/ClassNotFoundException"/>
</operation>
<operation name="get_feedback">
<input wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/get_feedbackRequest" message="tns:get_feedback"/>
<output wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/get_feedbackResponse" message="tns:get_feedbackResponse"/>
<fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/get_feedback/Fault/ClassNotFoundException"/>
</operation>
<operation name="eliminarServ">
<input wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/eliminarServRequest" message="tns:eliminarServ"/>
<output wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/eliminarServResponse" message="tns:eliminarServResponse"/>
</operation>
<operation name="enviarFeed_dos">
<input wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/enviarFeed_dosRequest" message="tns:enviarFeed_dos"/>
<output wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/enviarFeed_dosResponse" message="tns:enviarFeed_dosResponse"/>
<fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/enviarFeed_dos/Fault/ClassNotFoundException"/>
</operation>
<operation name="get_misFavs">
<input wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/get_misFavsRequest" message="tns:get_misFavs"/>
<output wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/get_misFavsResponse" message="tns:get_misFavsResponse"/>
<fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/get_misFavs/Fault/ClassNotFoundException"/>
</operation>
<operation name="logoutConductor">
<input wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/logoutConductorRequest" message="tns:logoutConductor"/>
<output wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/logoutConductorResponse" message="tns:logoutConductorResponse"/>
</operation>
<operation name="enviarFeed">
<input wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/enviarFeedRequest" message="tns:enviarFeed"/>
<output wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/enviarFeedResponse" message="tns:enviarFeedResponse"/>
<fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/enviarFeed/Fault/ClassNotFoundException"/>
</operation>
<operation name="actualizarDatos">
<input wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/actualizarDatosRequest" message="tns:actualizarDatos"/>
<output wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/actualizarDatosResponse" message="tns:actualizarDatosResponse"/>
<fault message="tns:UnsupportedEncodingException" name="UnsupportedEncodingException" wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/actualizarDatos/Fault/UnsupportedEncodingException"/>
<fault message="tns:NoSuchAlgorithmException" name="NoSuchAlgorithmException" wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/actualizarDatos/Fault/NoSuchAlgorithmException"/>
</operation>
<operation name="loginConductor">
<input wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/loginConductorRequest" message="tns:loginConductor"/>
<output wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/loginConductorResponse" message="tns:loginConductorResponse"/>
<fault message="tns:UnsupportedEncodingException" name="UnsupportedEncodingException" wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/loginConductor/Fault/UnsupportedEncodingException"/>
<fault message="tns:NoSuchAlgorithmException" name="NoSuchAlgorithmException" wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/loginConductor/Fault/NoSuchAlgorithmException"/>
</operation>
<operation name="recuperaEsta">
<input wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/recuperaEstaRequest" message="tns:recuperaEsta"/>
<output wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/recuperaEstaResponse" message="tns:recuperaEstaResponse"/>
<fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/recuperaEsta/Fault/ClassNotFoundException"/>
</operation>
<operation name="operacion_Is_Fav">
<input wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/operacion_Is_FavRequest" message="tns:operacion_Is_Fav"/>
<output wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/operacion_Is_FavResponse" message="tns:operacion_Is_FavResponse"/>
<fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/operacion_Is_Fav/Fault/ClassNotFoundException"/>
</operation>
<operation name="operacion_buscar">
<input wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/operacion_buscarRequest" message="tns:operacion_buscar"/>
<output wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/operacion_buscarResponse" message="tns:operacion_buscarResponse"/>
<fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/operacion_buscar/Fault/ClassNotFoundException"/>
</operation>
<operation name="delEsquema">
<input wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/delEsquemaRequest" message="tns:delEsquema"/>
<output wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/delEsquemaResponse" message="tns:delEsquemaResponse"/>
</operation>
<operation name="traeSuppLogs">
<input wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/traeSuppLogsRequest" message="tns:traeSuppLogs"/>
<output wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/traeSuppLogsResponse" message="tns:traeSuppLogsResponse"/>
</operation>
<operation name="operacion_Feed">
<input wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/operacion_FeedRequest" message="tns:operacion_Feed"/>
<output wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/operacion_FeedResponse" message="tns:operacion_FeedResponse"/>
<fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/operacion_Feed/Fault/ClassNotFoundException"/>
</operation>
<operation name="saveEsquema">
<input wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/saveEsquemaRequest" message="tns:saveEsquema"/>
<output wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/saveEsquemaResponse" message="tns:saveEsquemaResponse"/>
</operation>
<operation name="delUser">
<input wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/delUserRequest" message="tns:delUser"/>
<output wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/delUserResponse" message="tns:delUserResponse"/>
</operation>
<operation name="guardaSuppLogs">
<input wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/guardaSuppLogsRequest" message="tns:guardaSuppLogs"/>
<output wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/guardaSuppLogsResponse" message="tns:guardaSuppLogsResponse"/>
</operation>
<operation name="operacion_Muro">
<input wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/operacion_MuroRequest" message="tns:operacion_Muro"/>
<output wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/operacion_MuroResponse" message="tns:operacion_MuroResponse"/>
</operation>
<operation name="getEsquema">
<input wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/getEsquemaRequest" message="tns:getEsquema"/>
<output wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/getEsquemaResponse" message="tns:getEsquemaResponse"/>
</operation>
<operation name="enviarAviso">
<input wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/enviarAvisoRequest" message="tns:enviarAviso"/>
<output wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/enviarAvisoResponse" message="tns:enviarAvisoResponse"/>
<fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/enviarAviso/Fault/ClassNotFoundException"/>
</operation>
<operation name="avisos">
<input wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/avisosRequest" message="tns:avisos"/>
<output wsam:Action="http://ws.controller.web.parkplatz.ovrwrite.me/ParkPlatzWS/avisosResponse" message="tns:avisosResponse"/>
</operation>
</portType>
<binding name="ParkPlatzWSPortBinding" type="tns:ParkPlatzWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="operacion_Detalles_Estacionamiento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="loginEstacionamiento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UnsupportedEncodingException">
<soap:fault name="UnsupportedEncodingException" use="literal"/>
</fault>
<fault name="NoSuchAlgorithmException">
<soap:fault name="NoSuchAlgorithmException" use="literal"/>
</fault>
</operation>
<operation name="recibeFoto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClassNotFoundException">
<soap:fault name="ClassNotFoundException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="registraUnEstacionamiento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClassNotFoundException">
<soap:fault name="ClassNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="actualizarDatosConductor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UnsupportedEncodingException">
<soap:fault name="UnsupportedEncodingException" use="literal"/>
</fault>
<fault name="NoSuchAlgorithmException">
<soap:fault name="NoSuchAlgorithmException" use="literal"/>
</fault>
</operation>
<operation name="actualizarDatosAdmin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UnsupportedEncodingException">
<soap:fault name="UnsupportedEncodingException" use="literal"/>
</fault>
<fault name="NoSuchAlgorithmException">
<soap:fault name="NoSuchAlgorithmException" use="literal"/>
</fault>
</operation>
<operation name="recuperarDatosEsta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="traeIdEstacionamiento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerMisEstacionamientos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClassNotFoundException">
<soap:fault name="ClassNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="registrarConductor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UnsupportedEncodingException">
<soap:fault name="UnsupportedEncodingException" use="literal"/>
</fault>
<fault name="NoSuchAlgorithmException">
<soap:fault name="NoSuchAlgorithmException" use="literal"/>
</fault>
</operation>
<operation name="registrarAdministrador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UnsupportedEncodingException">
<soap:fault name="UnsupportedEncodingException" use="literal"/>
</fault>
<fault name="NoSuchAlgorithmException">
<soap:fault name="NoSuchAlgorithmException" use="literal"/>
</fault>
</operation>
<operation name="loginAdministrador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UnsupportedEncodingException">
<soap:fault name="UnsupportedEncodingException" use="literal"/>
</fault>
<fault name="NoSuchAlgorithmException">
<soap:fault name="NoSuchAlgorithmException" use="literal"/>
</fault>
</operation>
<operation name="nuevoServicioOferta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClassNotFoundException">
<soap:fault name="ClassNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="actualizarDatosEsta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="logoutAdministrador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarServicio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarEstacionamiento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UnsupportedEncodingException">
<soap:fault name="UnsupportedEncodingException" use="literal"/>
</fault>
<fault name="NoSuchAlgorithmException">
<soap:fault name="NoSuchAlgorithmException" use="literal"/>
</fault>
</operation>
<operation name="logoutEstacionamiento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="operacion_Borra_Fav">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClassNotFoundException">
<soap:fault name="ClassNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="operacion_getAmigos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="operacion_Nuevo_Favorito">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClassNotFoundException">
<soap:fault name="ClassNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="operacion_Recuperar_Datos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="operacion_NewComen">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="operacion_Lugares">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClassNotFoundException">
<soap:fault name="ClassNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="operacion_Actualiza_Datos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UnsupportedEncodingException">
<soap:fault name="UnsupportedEncodingException" use="literal"/>
</fault>
<fault name="NoSuchAlgorithmException">
<soap:fault name="NoSuchAlgorithmException" use="literal"/>
</fault>
</operation>
<operation name="operacion_Nuevo_Reciente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClassNotFoundException">
<soap:fault name="ClassNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="operacion_Login_Android">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UnsupportedEncodingException">
<soap:fault name="UnsupportedEncodingException" use="literal"/>
</fault>
<fault name="NoSuchAlgorithmException">
<soap:fault name="NoSuchAlgorithmException" use="literal"/>
</fault>
</operation>
<operation name="operacion_Registro_Android">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UnsupportedEncodingException">
<soap:fault name="UnsupportedEncodingException" use="literal"/>
</fault>
<fault name="NoSuchAlgorithmException">
<soap:fault name="NoSuchAlgorithmException" use="literal"/>
</fault>
</operation>
<operation name="operacion_Mi_Mapa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="operacion_newAmigo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="operacion_Mis_Recs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClassNotFoundException">
<soap:fault name="ClassNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="operacion_Mis_Favs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClassNotFoundException">
<soap:fault name="ClassNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="operacion_busAmigos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="recover">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="borrameEsta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClassNotFoundException">
<soap:fault name="ClassNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="get_misRecientes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClassNotFoundException">
<soap:fault name="ClassNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="obtenerSevicios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="toSHA256">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClassNotFoundException">
<soap:fault name="ClassNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="get_feedback">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClassNotFoundException">
<soap:fault name="ClassNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="eliminarServ">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="enviarFeed_dos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClassNotFoundException">
<soap:fault name="ClassNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="get_misFavs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClassNotFoundException">
<soap:fault name="ClassNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="logoutConductor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="enviarFeed">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClassNotFoundException">
<soap:fault name="ClassNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="actualizarDatos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UnsupportedEncodingException">
<soap:fault name="UnsupportedEncodingException" use="literal"/>
</fault>
<fault name="NoSuchAlgorithmException">
<soap:fault name="NoSuchAlgorithmException" use="literal"/>
</fault>
</operation>
<operation name="loginConductor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UnsupportedEncodingException">
<soap:fault name="UnsupportedEncodingException" use="literal"/>
</fault>
<fault name="NoSuchAlgorithmException">
<soap:fault name="NoSuchAlgorithmException" use="literal"/>
</fault>
</operation>
<operation name="recuperaEsta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClassNotFoundException">
<soap:fault name="ClassNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="operacion_Is_Fav">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClassNotFoundException">
<soap:fault name="ClassNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="operacion_buscar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClassNotFoundException">
<soap:fault name="ClassNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="delEsquema">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="traeSuppLogs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="operacion_Feed">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClassNotFoundException">
<soap:fault name="ClassNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="saveEsquema">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="delUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="guardaSuppLogs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="operacion_Muro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getEsquema">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="enviarAviso">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClassNotFoundException">
<soap:fault name="ClassNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="avisos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ParkPlatzWS">
<port name="ParkPlatzWSPort" binding="tns:ParkPlatzWSPortBinding">
<soap:address location="http://localhost:80/ParkPlatz-Web-Maven/ParkPlatzWS"/>
</port>
</service>
</definitions>